@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);

body {
    background-color: #000000;
    height: 100vh;
    display: flex;
    justify-content: center;
}
header {
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: rgb(52, 52, 52);
    align-items: center;
    margin: 5px;
    padding: 5px;
    justify-content: space-between;
}
.container1 {
    background-color: #111010;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 80%;
    background-color: rgb(91, 91, 91);
    display: flex;
    padding: 5px;
    padding-right: 15px;
    align-items: center;
}
.iconlogo {
    width: 80px;
    height: auto;
    aspect-ratio: 1 / 1;
}
.imglogo {
    width: 100%;
    display: block;
}
.nama {
    font-family: 'roboto';
    font-style: italic;
    color: white;
}
.media {
    height: 80%;
    background-color: rgb(91, 91, 91);
    display: flex;
    padding: 5px;
    padding-right: 15px;
    align-items: center;
    flex-direction: row;
}
.iconmedia {
    font-size: 24px;
    color: white;
    margin: 2px;
    transition: 0.3s;
}
.fa-instagram:hover { color: #E4405F; } /* Instagram */
.fa-youtube:hover { color: #FF0000; } /* YouTube */
.fa-x-twitter:hover { color: #000000; } /* Twitter (X) */
.fa-facebook:hover { color: #1877F2; } /* Facebook */
.fa-discord:hover { color: #5865F2; } /* Discord */
.fa-spotify:hover { color: #1DB954; } /* Spotify */
.fa-envelope:hover { color: #D44638; } /* Email */
.fa-linkedin:hover { color: #0077B5; } /* LinkedIn */

@media (max-width: 600px) {
    .container1 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .nama {
        width: 0;
        height: 0;
        font-size: 0;
    }
}